<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<section class="shadows coupon-card-parent">
  <h4 class="ps-4 pt-3 heading"> <i class="bi bi-ticket-perforated"></i> Coupons </h4>
  <button class="floating" (click)="openForm()"><i class="bi bi-plus"></i></button>
  <div class="section-wrapper">
    <div class="row row-cols-2 g-0 px-2">
      <div class="col p-1 coupon-card-wrapper" *ngFor="let coupon of coupons">
        <div class="coupon-card p-3">
          <div class="action-icons">
            <i class="bi bi-trash3"></i>  
            <i class="bi bi-pencil-square"></i>
          </div>
          <div class="code"> {{ coupon.code }} </div>
          <div class="date mb-2">{{ coupon.startTime | date: 'dd MMM yy'}}   <i class="bi bi-arrow-right"></i>  {{ coupon.endTime | date: 'dd MMM yy'}}</div>
          <div class="row row-cols-1">
            <div class="percent">Discount <span class="value"> :  {{ coupon.percent }}% </span></div>
            <div class="amount">Min. Cart <span class="value"> :  {{ coupon.minimumAmount | currency:'INR' }} </span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>