<nav class="px-4">
  <div class="logo">
    <span class="letter">U</span>rban<span class="flip">i</span>
    <span class="last">ndia</span>
  </div>
  <div class="links-wrapper">
    <ul>
      <li class="mx-2 mx-md-2 mx-lg-4">
        <a routerLink="/">Home</a>
      </li>
      <li class="mx-2 mx-md-2 mx-lg-4">
        <a routerLink="services">Services</a>
      </li>
      <li class="mx-2 mx-md-2 mx-lg-4">Orders</li>
      <li class="mx-2 mx-md-2 mx-lg-4"></li>
      <li class="mx-2 mx-md-2 mx-lg-4"></li>
    </ul>
  </div>
  <div>
    <p-avatar
      image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
      styleClass="mr-2"
      shape="circle"
      (click)="menu.toggle($event)"
    ></p-avatar>
    <p-menu #menu [model]="items" [popup]="true" [baseZIndex]="8"></p-menu>
  </div>
</nav>
