.full-form {
  max-width: 900px;
}

img {
  object-fit: contain;
  max-width: 95%;
  max-height: 95%;
  width: auto;
  height: auto;
}

input {
  // display: block;
}

::ng-deep .same-width {
  width: 12rem !important;
}

::ng-deep .p-inputtext {
  width: 12rem !important;
}

::ng-deep .p-datepicker table td {
  padding: 0.2rem !important;
}

::ng-deep .p-datepicker table td > span {
  width: 1.7rem;
  height: 1.7rem;
}

::ng-deep .p-datepicker table {
  font-size: 10pt;
  margin: -0.143rem 0;
}

::ng-deep .p-datepicker .p-datepicker-header {
  padding: 0.2rem;
}

.avatar-upload {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: beige;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;

  .upload {
    display: inline;
    position: absolute;
  }

  input[type="file"] {
    border: none;
    background-color: aqua;
    object-fit: cover;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    // background-color: transparent;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.avatar-upload:hover {
  background-color: rgb(206, 206, 206);
}
