<form class="p-3" [formGroup]="signInForm" (submit)="signInButtonHandeler()">
  <div class="row row-cols-1 mb-2">
    <div class="col">
      <label for="" class="d-block">Email</label>
      <input type="text" class="same-width" placeholder="Username or Email" formControlName="usernameOrEmail"
        pInputText />
    </div>
    <div class="col">
      <label class="d-block mt-2" for="">Password</label>
      <p-password [toggleMask]="true" [feedback]="false" placeholder="Password" formControlName="password"
        [inputStyle]="{ width: '100%' }"></p-password>
    </div>
  </div>
  <div class="d-flex align-items-center gap-2 mt-4">
    <p-button styleClass="p-button" type="submit" [loading]="loading">
      Login <i class="pi pi-sign-in px-2 pt-1"></i></p-button>
    <span>or</span>
    <p-button styleClass="p-button" (onClick)="googleButttonHandeler()"> <i class="bi bi-google"></i> </p-button>
    <span id="button-placeholder" class="button-div d-none"> <span id="buttonDiv"></span> </span>
  </div>

  <!-- or -->
  <!-- <p-button
    icon="pi pi-google"
    styleClass="p-button-primary"
    (click)="googleButttonHandeler()"
  ></p-button> -->
</form>