<form class="p-3" [formGroup]="signInForm" (submit)="signInButtonHandeler()">
  <div>
    <label for="" class="d-block">Email</label>
    <input
      type="text"
      class="same-width"
      placeholder="Username or Email"
      formControlName="usernameOrEmail"
      pInputText
    />
  </div>
  <div>
    <label class="d-block mt-2" for="">Password</label>
    <p-password
      [toggleMask]="true"
      placeholder="Password"
      formControlName="password"
      [inputStyle]="{ width: '100%' }"
    ></p-password>
  </div>
  <p-button styleClass="p-button mt-2 " type="submit">
    Login <i class="pi pi-sign-in px-2 pt-1"></i
  ></p-button>
</form>
