<div class="card-wrapper">
  <div class="small-card row" *ngIf="businessServiceData !== undefined">
    <div class="image-wrapper col-4">
      <img
      [src]=" businessServiceData.image ? baseUrl + '/image/' + businessServiceData.image : 'https://images.unsplash.com/photo-1533676802871-eca1ae998cd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80'"
      alt="..."
      />
    </div>
    <div class="col-8">
      <div class="title" (click)="goToServicePage()"> {{ businessServiceData.title }} </div>
      <p class="text-truncate" style="font-size: 12px;"> {{ businessServiceData.description }} </p>
      <p-rating
      *ngIf="cardConfig?.showRatings"
      [(ngModel)]="this.businessServiceData.rating"
      [readonly]="false"
      [cancel]="false"
    ></p-rating>
    <p> {{this.businessServiceData.price | currency:'INR'}} </p>
    </div>

    
  </div>
  <div *ngIf="showDeleteIcon" class="button-holder">
    <button class="red" (click)="removeItem(businessServiceData.id)">
      <i class="bi bi-x"></i>
    </button>
  </div>

  <div class="date" *ngIf="cartItem">
    <span (click)="op.toggle($event)" *ngIf="!cartItem.completionDate">{{ 'Date' }}</span>
    <span (click)="op.toggle($event)" *ngIf="cartItem.completionDate">{{ cartItem.completionDate | date:'dd MMM' }}</span>
  </div>
  <p-overlayPanel #op appendTo="body">
    <ng-template pTemplate="content">
      <p-calendar *ngIf="cartItem" [inline]="true" appendTo="body" placeholder="Select Date" (onSelect)="dateChangeHandle($event, op)" [(ngModel)]="cartItem.completionDate"></p-calendar>
    </ng-template>
  </p-overlayPanel>
  
</div>
