.card-wrapper{
  padding: 3px;
  .row > *{
    padding-left: 0 !important;
  }
  .small-card{
    height: 8rem;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    padding: 1rem;
    .image-wrapper{
      height: 100%;
      // overflow: hidden;
      // width: 4rem;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      
    }
  }
}