.card-wrapper{
  padding: 3px;
  position: relative;
  .row > *{
    padding-left: 0 !important;
  }
  .small-card{

    height: 8rem;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    padding: 1rem;
    .image-wrapper{
      height: 100%;
      // overflow: hidden;
      // width: 4rem;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      
    }
  }
}

.title{
  cursor: pointer;
}

.date{
  position: absolute;
  right: 12px;
  bottom: 24px;
  cursor: pointer;
  span{
    border: 1px solid gray;
    padding: 8px;
    border-radius: 12px;
    font-weight: 700;
    &:hover{
      background: linear-gradient(
      90deg,
      rgba(124, 58, 237, 1) 0%,
      rgba(215, 193, 255, 1) 100%
    );
    border: none;
    color: white;
    }
  }
}