<div class="container pt-4">
  <app-search-bar
    [businesses]="businesses"
    [servicesTypes]="servicesTypes"
    [filter]="filterModel"
    (filterApplied)="appliedFilter()"
  ></app-search-bar>
  <ul class="cards">
    <ng-template ngIf="true" *ngFor="let item of businessServicesData">
      <app-business-service-card
        class="cards_item"
        [businessServiceData]="item"
      ></app-business-service-card>
    </ng-template>
  </ul>

  <p-paginator
    *ngIf="businessServicePage"
    (onPageChange)="onPageChange($event)"
    [first]="businessServicePage.pageable.offset"
    [rows]="businessServicePage.pageable.pageSize"
    [totalRecords]="businessServicePage.totalElements"
    [rowsPerPageOptions]="[10, 20, 30]"
  ></p-paginator>
</div>
