/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.p-password {
  width: 100%;
}

.p-inputtext,
.p-dropdown-label,
.p-dropdown-trigger,
textarea {
  border: none !important;
  border-bottom: solid 2px transparent !important;
  background-color: #f1f1f1 !important;
}

.p-dropdown:active,
.p-dropdown:focus {
  border: none !important;
  box-shadow: none !important;
}

.p-inputtext:focus,
.p-dropdown-label:focus,
.p-dropdown-label:active textarea:focus,
textarea:active .p-inputtext:active {
  border-bottom: solid 2px #7c3aed !important;
  outline: none !important;
  box-shadow: none !important;
}

.p-dropdown-panel .p-dropdown-items-wrapper {
  max-height: 140px !important; /* Adjust the height as per your requirement */
}

.p-dropdown {
  border: none !important;
}
.p-dropdown .p-focus {
  box-shadow: none !important;
}

.p-dropdown:active,
.p-dropdown:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

textarea {
  border-radius: 6px;
}
