<!-- <li class="cards_item"> -->
<div class="card">
  <div>
  </div>
  <div class="card_image">
    <img
      [src]="this.businessServiceData.image"
      alt="..."
    />
  </div>
  <div class="card_content">
    <h3 class="card_title">{{ this.businessServiceData.title }}</h3>
    <span class="card_company">
      {{ this.businessServiceData.businessName}}
    </span>
    <p class="card_text">
      {{ this.businessServiceData.description }}
    </p>
    <div class="d-flex justify-content-between">
      <div>
        <p-rating
          [(ngModel)]="this.businessServiceData.rating"
          [readonly]="true"
          [cancel]="false"
        ></p-rating>
        <span class="price">
          {{ this.businessServiceData.price | currency : "INR" : "symbol" }}
        </span>
      </div>
      <p-button label="More" styleClass="p-button-text"></p-button>
    </div>
  </div>
</div>
<!-- </li -->
